<div class="container">

	<% @messages.each do |msg| %>
		<% if msg.receive_by_current_user? %>
			<div class="row">
				<h3 style="float: left;"><%= msg.sender + '——' + msg.content %></h3>
			</div>
		<% else %>
			<div class="row">
				<h3 style="float: right;color: #8C8C8C"><%= msg.content + '——' + msg.sender %></h3>
			</div>
		<% end %>
	<% end %>

	<div data-channel="messages" user-name="<%= User.current_name %>"></div>
	
	<footer style="float: right;">
		<%= form_for :message, url: messages_url, remote: true do |form| %>
		  <%= form.text_area :content, size: '100x10', "data-area": "message" %><br>
		  <%= form.submit '发送', class: "btn btn-primary btn-lg btn-block" %>
		<% end %>
	</footer>

</div>


